<suite name="Test - Suite">
	<test name="Automation Tools">
	<parameter name="FirstName" value="vu"/>

	<parameter name="LastName" value="van"/>
	
	<pamareter name="Email" value="dad.vu.van.gl.qa@gmail.com"/>
	
	<pamareter name="Password" value="ZXasqw12"/>
	
		<classes>
			
			<class name="automationTestNG.CreateAccount"/>
		</classes>
	</test>
</suite>